@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components{
    .button-white{
        @apply bg-white text-blue-600 font-semibold rounded-full shadow-lg hover:bg-gray-100 transition cursor-pointer px-8 py-3 md:py-4 ;
    }
    .border-transparent-button{
        @apply border-2 border-white text-white font-semibold rounded-full hover:bg-white hover:text-blue-600 transition cursor-pointer px-8 py-3 md:py-4 ;
    }
    .heading-2{
        @apply text-4xl font-bold mb-10 md:text-5xl;
    }
    .title-color{
        @apply text-gray-800;
    }
    .heading-1{
        @apply  text-5xl md:text-6xl font-extrabold;
    }
}
